################################################################################
# General Information
################################################################################
# Author:               MushuDG
# Project:              MakerFr_I3-RS32-K
# File:                 macros.cfg
# Creation Date:        Sep. 12, 2024
# Modification Date:    Sep. 12, 2024
# Description:          Configuration file for custom G-code macros.
#                       This file includes macros for automating common tasks
#                       such as homing, bed leveling, filament loading/unloading,
#                       and LED control.
################################################################################

########################################
# G-Code Macros
########################################
# Macros are custom commands that automate common tasks like homing the printer,
# starting bed leveling, or loading/unloading filament.
[gcode_macro Home]
# Home all axes (X, Y, Z) using the G28 command.
description: Home all axes (X, Y, Z)
gcode:
    G28

[gcode_macro Z_Tilt]
# Home all axes, then perform Z tilt adjustment to level the bed between the two Z motors.
description: Home all axes and then perform Z-tilt adjustment
gcode:
    G28
    Z_TILT_ADJUST

[gcode_macro Bed_Calibration]
# Home all axes, then run a bed mesh calibration to map the surface of the bed.
description: Home all axes and start bed mesh calibration
gcode:
    G28
    BED_MESH_CALIBRATE

[gcode_macro Save_C]
# Save the current configuration to the printer’s configuration file.
description: Save the current configuration to disk
gcode:
    SAVE_CONFIG

[gcode_macro CUSTOM_BED_MESH_CALIBRATE]
# Perform bed mesh calibration for a specific area based on the dimensions provided.
description: Calibrates bed mesh in the area defined by the first layer bounds
gcode:
    {% set x_val = params.X|float %}
    {% set y_val = params.Y|float %}
    {% set w_val = params.W|float %}
    {% set h_val = params.H|float %}
    {% set max_x = (x_val + w_val)|round(2) %}
    {% set max_y = (y_val + h_val)|round(2) %}
    BED_MESH_CALIBRATE PROFILE=default METHOD=automatic ADAPTIVE=1 ADAPTIVE_MARGIN=2 MESH_MIN={x_val},{y_val} MESH_MAX={max_x},{max_y}

[gcode_macro LOAD_FILAMENT]
# Heat the extruder to 200°C and load filament into the hotend.
description: Heat the extruder to 200°C and load filament
gcode:
    M104 S200  # Set extruder temperature to 200°C
    M109 S200  # Wait until the extruder reaches 200°C
    M83  # Set extruder to relative mode (for controlled extrusion)
    G1 E10 F50  # Slowly extrude 10mm of filament at 50mm/min
    G1 E100 F250  # Extrude 100mm of filament at 250mm/min for faster loading
    G1 E10 F50  # Extrude 10mm of filament slowly at the end
    M82  # Set extruder back to absolute mode
    M117 Filament chargé  # Display message: "Filament loaded"

[gcode_macro UNLOAD_FILAMENT]
# Heat the extruder to 200°C and unload filament from the hotend.
description: Heat the extruder to 200°C and unload filament
gcode:
    M104 S200  # Set extruder temperature to 200°C
    M109 S200  # Wait until the extruder reaches 200°C
    M83  # Set extruder to relative mode
    G1 E-10 F50  # Slowly retract 10mm of filament at 50mm/min
    G1 E-100 F250  # Retract 100mm of filament at 250mm/min for faster unloading
    G1 E-10 F50  # Final slow retraction of 10mm
    M82  # Set extruder back to absolute mode
    M117 Filament déchargé  # Display message: "Filament unloaded"

[gcode_macro LEDS_ON]
# This macro turns on the static LED effect (white light).
gcode:
    SET_LED_EFFECT EFFECT=led_static REPLACE=1  # Turn on static LED effect

[gcode_macro LEDS_BREATHING]
# This macro starts the breathing LED effect (yellow color).
gcode:
    SET_LED_EFFECT EFFECT=breathing_effect REPLACE=1  # Start breathing LED effect

[gcode_macro LEDS_OFF]
# This macro turns off all LED effects.
gcode:
    STOP_LED_EFFECTS  # Turn off all LED effects

[gcode_macro LEDS_HEATING]
# This macro starts the heating LED effect (blue to red).
gcode:
    SET_LED_EFFECT EFFECT=heating_effect REPLACE=1  # Start heating LED effect

[gcode_macro LEDS_PRINTING]
# This macro starts the printing LED effect (light blue).
gcode:
    SET_LED_EFFECT EFFECT=printing_effect REPLACE=1  # Start printing LED effect

[gcode_macro LEDS_PAUSE]
# This macro starts the pause LED effect (yellow).
gcode:
    SET_LED_EFFECT EFFECT=pause_effect REPLACE=1  # Start pause LED effect

[gcode_macro LEDS_PRINT_FINISHED]
# This macro starts the print finished LED effect (green).
gcode:
    SET_LED_EFFECT EFFECT=print_finished REPLACE=1  # Start print finished LED effect